public/components
public/uploads/
private/scss/*.css
private/scss/*.map
credentials.md
.sass-cache
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/gradle.xml
.idea/libraries
.idea/mongoSettings.xml
*.iws
/out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.sass-cache/
*.css.map
node_modules/
bower_components/
*.log
build/
data/
dist/
logs
npm-debug.log*
pids
*.pid
*.seed
lib-cov
coverage
.grunt
.lock-wscript
build/Release
jspm_packages
.npm
.node_repl_history
manifest.appcache
tests/reports/
tests/acceptance/js/*/
_SpecRunner.html
.env
