// Admin
.wysiwyg-plain {
	outline: 1px dashed #ddd;
}

.navbar-fixed-bottom {
	outline: 6px solid rgba(50, 50, 50, .1);
}

.imageupload {
	&.imageupload-disabled {
		pointer-events: none;
		cursor: not-allowed;
		opacity: .60;
	}

	.panel-title {
		padding-top: 8px;
	}

	.alert {
		margin-bottom: 10px;
	}

	.btn-file {
		position: relative;
		overflow: hidden;

		[type="file"] {
			position: absolute;
			top: 0;
			right: 0;
			display: block;
			min-width: 100%;
			min-height: 100%;
			font-size: 100px;
			text-align: right;
			cursor: inherit;
			opacity: 0;
		}
	}

	.file-tab {
		> button {
			display: none;
		}
		.thumbnail {
			margin-bottom: 10px;
		}
	}

	.url-tab {
		display: none;
		.thumbnail {
			margin: 10px 0;
		}
	}
}

.upload-drop-zone {
	height: 200px;
	margin-bottom: 20px;
	border-width: 3px;
}

.upload-drop-zone {
	line-height: 200px;
	color: #ccc;
	text-align: center;
	border-color: #ccc;
	border-style: dashed;
}

.upload-drop-zone.drop {
	color: #222;
	border-color: #222;
}
