@page {
  @bottom-left {
    content: counter(page) "/" counter(pages); } }

@media print {
  body {
    background: #fff;
    text-align: left;
    width: auto !important;
    border: 0;
    margin: 0;
    padding: 0; }
  .container {
    border: 0;
    margin: 0;
    padding: 0; }
  h1, h2, h3, h4, h5 {
    page-break-after: avoid; }
  h1 {
    padding: 18pt 0; }
  p, i, em, address, li, dt, dd {
    font-size: 12pt; }
  pre {
    border: 0;
    padding: 0; }
  ul {
    list-style: square;
    margin-left: 18pt; }
  ol {
    list-style: decimal;
    margin-left: 18pt; }
  li {
    line-height: 1.6em; }
  abbr[title]:after, acronym[title]:after {
    content: " (" attr(title) ")"; }
  a[href]:after {
    content: " <" attr(href) ">";
    color: #369;
    background-color: inherit;
    font-style: italic;
    font-size: 12pt;
    text-decoration: underline; }
  *[cite]:before {
    content: close-quote " (Quelle: " attr(cite) ")";
    color: #369;
    font-style: italic; }
  h1 {
    font-size: 50pt;
    letter-spacing: -6pt; }
  a {
    color: #000;
    text-decoration: underline;
    font-style: italic; }
  html i, html em {
    overflow: visible; }
  strong {
    overflow: visible; } }

html {
  overflow-y: scroll; }

body {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #656c7a; }

header {
  margin-top: 20px; }

main {
  margin-top: 20px; }

footer {
  padding-top: 5px;
  margin-top: 30px;
  color: #bbb;
  border-top: 1px #ddd solid; }

p, i, em {
  font-weight: 300; }

h1, h2, h3, b, strong {
  font-weight: 300; }

i, em {
  font-style: italic; }

img {
  background-color: #efefef; }

pre {
  font-size: 1em; }

.media-author {
  padding: 20px 30px;
  color: #7b90bb;
  background-color: #f0f8ff;
  border-top: 10px #a3b0c6 solid; }

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.disqus {
  margin-top: 2em; }
