html {
	overflow-y: scroll;
}

body {
	font-family: 'Open Sans Condensed', sans-serif;
}

// Logical
header {
	margin-top: 20px;
}

main {
	margin-top: 20px;
}

footer {
	margin-top: 30px;
	padding-top: 5px;
	border-top: 1px #ddd solid;
	color: #bbb;
}

// Content
p {
	font-weight: 300;
}

h1, h2, h3, b, strong {
	font-weight: 300;
}

i, em {
	@extend p;
	font-style: italic;
}

pre {
	font-size: 1em;
}

// Classes
.media-author {
	padding: 20px 30px;
	background-color: aliceblue;
	border-top: 1px #eee solid;
}

@mixin text-overflow() {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.text-overflow {
	@include text-overflow;
}

.disqus {
	margin-top: 2em;
}

// Admin
.wysiwygPlain {
	outline: 1px dashed #ddd;
}
