{{> header}}
<article>
    <section>
        <header>
            <h1>{{{article.title}}}</h1>
            <p class="lead">{{{article.teaser}}}</p>
        </header>
        <p>{{{article.text}}}</p>
    </section>
</article>

{{>prism}}

{{>author}}

{{>disqus}}
