{{> header}}
<article>
    <header>
        <h1>{{article.title}}</h1>
    </header>
    <p class="lead">{{article.teaser}}</p>
    <p>{{{article.text}}}</p>
</article>

{{>prism}}

{{>author}}

{{>disqus}}
