{{> header}}

{{#if profile}}
	{{> wysiwyg-article-short}}
	{{> wysiwyg}}
{{else}}
    <article>
        <section>
            <header>
                <h1>{{{article.title}}}</h1>
                <p class="lead">{{{article.teaser}}}</p>
            </header>
            <p>{{{article.text}}}</p>
        </section>
    </article>

		{{>prism}}

		{{>author}}

		{{>disqus}}
{{/if}}

