{{> hero tag=true brand="info"}}

<div class="section">
	<div class="container">
		<div class="columns">
			<div class="column is-three-quarters">
				<div class="content">
					{{> article-list this}}
				</div>
			</div>
			<aside class="column">
				<p class="is-size-4">{{ __ "Author"}}</p>
				<p class="content">
					{{> author short=true}}
				</p>
			</aside>
		</div>
	</div>
</div>


{{#if profile}}
	{{> toolbar-list section="articles"}}
{{/if}}
