<aside class="media media-author">
    <div class="media-left media-middle">
        <a href="#">
            <img src="//c7.staticflickr.com/2/1566/26552662222_93b6e0cce0_s.jpg" alt="André Lademann"
                 class="img-circle">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">André Lademann</h4>
        <p>
            Ich bin {{{age 1980}}} Jahre alt und wohne mit meiner Familie in Leipzig.
            Ich programmiere seit dem Jahr 1998. Ab dem Jahr 2002 habe ich mein Hobby zum Beruf gemacht.
        </p>
        <p>
            Die Webentwicklung ist für mich besonders reizvoll. In meiner Freizeit bastle ich mit meinem Raspberry Pie,
            oder einem meiner <a href="https://github.com/vergissberlin" target="_blank">Open Source Projekte</a>.
            und fliege mit meinen Modellen durch die Leipziger Luftraum, oder suche Geocahce mit meiner Familie.
        </p>
    </div>
</aside>
