{{#if short}}
	<p itemprop="author">
		<a rel="author" href="https://plus.google.com/102068444349380253348" class="is-bold">
			<span itemprop="givenName">André</span>
			<span itemprop="familyName">Lademann</span>
		</a>
		<small>@vergissberlin</small>
		<br>
		Ich arbeite bei <span itemprop="worksFor">Netresearch GmbH & Co.KG</span> als <span itemprop="jobTitle">Software Entwickler</span>.
		Ich bin {{{age 1980}}} Jahre alt und wohne mit meiner Familie in Leipzig.
		Ich programmiere seit dem Jahr 1998. Ab dem Jahr 2002 habe ich mein Hobby zum Beruf gemacht.
	</p>
{{else}}
	<aside class="media" itemscope itemType="http://schema.org/Person">
		<figure class="media-left">
			<p class="image is-64x64">
				<img class="lozad is-hidden-print"
						 data-src="https://www.gravatar.com/avatar/32b86b840eec6b1cde52f3710d391cc7?s=128&d=identicon"
						 alt="André Lademann">
			</p>
		</figure>
		<div class="media-content">
			<div class="content">
				<meta content="https://github.com/vergissberlin" itemprop="url">
				<meta itemprop="birthDate" content="1980-08-27">
				<meta itemprop="gender" content="Male">
				<script type="application/ld+json" src="json/author.json"></script>
				<p itemprop="author">
					<a rel="author" href="https://plus.google.com/102068444349380253348" class="is-bold">
						<span itemprop="givenName">André</span>
						<span itemprop="familyName">Lademann</span>
					</a>
					<small>@vergissberlin</small>
					<br>
					Ich arbeite bei <span itemprop="worksFor">Netresearch GmbH & Co.KG</span> als <span itemprop="jobTitle">Software Entwickler</span>.
					Ich bin {{{age 1980}}} Jahre alt und wohne mit meiner Familie in Leipzig.
					Ich programmiere seit dem Jahr 1998. Ab dem Jahr 2002 habe ich mein Hobby zum Beruf gemacht.
				</p>
				<p class="is-hidden-mobile is-hidden-print">
					Die Webentwicklung ist für mich besonders reizvoll. In meiner Freizeit bastle ich mit meinem Raspberry Pie,
					oder einem meiner <a href="https://github.com/vergissberlin" rel="noopener" target="_blank">Open Source
					Projekte</a> und fliege mit meinen Modellen durch die Leipziger Luftraum, oder suche Geocahce mit meiner
					Familie.
				</p>
			</div>
		</div>
	</aside>

{{/if}}
