
<aside class="media media-author">
    <div class="media-left media-middle">
        <a href="#">
            <img src="//c7.staticflickr.com/2/1566/26552662222_93b6e0cce0_s.jpg" alt="André Lademann"
                 class="img-circle">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">André Lademann</h4>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras
            purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
            fringilla. Donec lacinia congue felis in faucibus.</p>
        <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et
            magnis dis parturient montes, nascetur ridiculus mus.</p>
    </div>
</aside>
