<footer class="media media-author" itemscope itemType="http://schema.org/Person">
	<img class="rounded-circle d-flex align-self-center mr-3 d-print-none"
			 src="https://www.gravatar.com/avatar/32b86b840eec6b1cde52f3710d391cc7?s=144&d=identicon"
			 alt="Generic placeholder image">
	<div class="media-body">
		<meta content="https://github.com/vergissberlin" itemprop="url">
		<meta itemprop="birthDate" content="1980-08-27">
		<meta itemprop="gender" content="Male">
		<script type="application/ld+json" src="json/author.json"></script>
		<div class="mt-0" itemprop="author">
			<a rel="author" href="https://plus.google.com/102068444349380253348" class="h5">
				<span itemprop="givenName">André</span>
				<span itemprop="familyName">Lademann</span>
			</a>
		</div>
		<p class="mt-0">
			Ich arbeite bei <span itemprop="worksFor">Netresearch GmbH & Co.KG</span> als <span itemprop="jobTitle">Software Entwickler</span>.
			Ich bin {{{age 1980}}} Jahre alt und wohne mit meiner Familie in Leipzig.
			Ich programmiere seit dem Jahr 1998. Ab dem Jahr 2002 habe ich mein Hobby zum Beruf gemacht.
		</p>
		<p class="mt-0 d-print-none">
			Die Webentwicklung ist für mich besonders reizvoll. In meiner Freizeit bastle ich mit meinem Raspberry Pie,
			oder einem meiner <a href="https://github.com/vergissberlin" rel="noopener" target="_blank">Open Source Projekte</a>.
			und fliege mit meinen Modellen durch die Leipziger Luftraum, oder suche Geocahce mit meiner Familie.
		</p>
	</div>
</footer>
