<footer class="media media-author" itemprop="author">
    <div class="media-left media-middle">
        <img src="//c7.staticflickr.com/2/1566/26552662222_93b6e0cce0_s.jpg" alt="André Lademann" class="img-circle">
    </div>
    <div class="media-body" itemscope itemtype="http://schema.org/Person">
        <meta content='https://github.com/vergissberlin' itemprop='url'/>
        <meta itemprop="birthDate" content="1980-08-27"/>
        <meta itemprop="gender" content="Male"/>
        <p>
            <span itemprop="givenName">André</span>
            <span itemprop="familyName">Lademann</span>
        </p>
        <p>
            Ich arbeite bei <span itemprop="worksFor">Netresearch GmbH & Co.KG</span> als <span itemprop="jobTitle">Software Entwickler</span>.
            Ich bin {{{age 1980}}} Jahre alt und wohne mit meiner Familie in Leipzig.
            Ich programmiere seit dem Jahr 1998. Ab dem Jahr 2002 habe ich mein Hobby zum Beruf gemacht.
        </p>
        <p>
            Die Webentwicklung ist für mich besonders reizvoll. In meiner Freizeit bastle ich mit meinem Raspberry Pie,
            oder einem meiner <a href="https://github.com/vergissberlin" target="_blank">Open Source Projekte</a>.
            und fliege mit meinen Modellen durch die Leipziger Luftraum, oder suche Geocahce mit meiner Familie.
        </p>
    </div>
    <script type="application/ld+json" src="json/author.json"></script>
</footer>
