<footer class="media media-author" itemscope itemType="http://schema.org/Person">
	<div itemprop="author">
		<div class="media-left media-middle">
			<picture>
				<source media="(min-width: 45em)" srcset="https://www.gravatar.com/avatar/32b86b840eec6b1cde52f3710d391cc7?s=512&d=identicon">
				<source media="(min-width: 18em)" srcset="https://www.gravatar.com/avatar/32b86b840eec6b1cde52f3710d391cc7?s=256&d=identicon, https://www.gravatar.com/avatar/32b86b840eec6b1cde52f3710d391cc7?s=512&d=identicon 2x">
				<img src="https://www.gravatar.com/avatar/32b86b840eec6b1cde52f3710d391cc7?s=144&d=identicon" alt="André Lademann" class="img-circle">
			</picture>
		</div>
		<div class="media-body" itemprop="author">
			<meta content='https://github.com/vergissberlin' itemprop='url'>
			<meta itemprop="birthDate" content="1980-08-27">
			<meta itemprop="gender" content="Male">
			<p>
				<a rel="author" href="https://plus.google.com/102068444349380253348" class="h4">
					<span itemprop="givenName">André</span>
					<span itemprop="familyName">Lademann</span>
				</a>
			</p>
			<p>
				Ich arbeite bei <span itemprop="worksFor">Netresearch GmbH & Co.KG</span> als <span itemprop="jobTitle">Software Entwickler</span>.
				Ich bin {{{age 1980}}} Jahre alt und wohne mit meiner Familie in Leipzig.
				Ich programmiere seit dem Jahr 1998. Ab dem Jahr 2002 habe ich mein Hobby zum Beruf gemacht.
			</p>
			<p>
				Die Webentwicklung ist für mich besonders reizvoll. In meiner Freizeit bastle ich mit meinem Raspberry Pie,
				oder einem meiner <a href="https://github.com/vergissberlin" target="_blank">Open Source Projekte</a>.
				und fliege mit meinen Modellen durch die Leipziger Luftraum, oder suche Geocahce mit meiner Familie.
			</p>
		</div>
		<script type="application/ld+json" src="json/author.json"></script>
	</div>
</footer>
