<aside class="disqus is-hidden-print is-hidden-mobile">
	<div id="disqus_thread" style="overflow: hidden"></div>
	<script>
		(function() {
			var d = document, s = d.createElement('script');
			s.src = 'https://andrelademann.disqus.com/embed.js';
			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
		})();
	</script>
</aside>
