<aside class="disqus hidden-print">
	<div id="disqus_thread" style="overflow: hidden"></div>
    <script>
        (function () {
            var d = document, s = d.createElement('script');
            s.src = '//andrelademann.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
</aside>
