<form action="/articles/add" method="post">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-3">New Article</h1>
                <p class="lead">Add a new article.</p>
                <hr class="m-y-2">

                <fieldset class="form-group">
                    <label for="state">State</label><br>

                    <label class="c-input c-radio">
                        <input name="state" type="radio" value="draft"
                               checked="checked">
                        <span class="c-indicator"></span>
                        draft
                    </label>
                    <label class="c-input c-radio">
                        <input name="state" type="radio" value="published">
                        <span class="c-indicator"></span>
                        published
                    </label>
                </fieldset>

                <fieldset class="form-group">
									{{> form/image label="Image" id="image"}}
                </fieldset>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <fieldset class="form-group">
                <label for="title">Title</label>
                <h1 class="wysiwygPlain" id="title"></h1>
            </fieldset>

            <fieldset class="form-group">
                <label for="teaser">Teaser</label>
                <p class="wysiwygPlain lead" id="teaser"></p>
            </fieldset>

            <fieldset class="form-group">
                <label for="text">Text</label>
                <div id="text" class="wysiwyg">{{text}}</div>
            </fieldset>
            <p class="lead">
                <button type="submit" class="btn btn-primary btn-md pull-xs-right"
                        role="button">Send
                </button>
            </p>
        </div>
    </div>
</form>
