<form action="/articles/add" method="post">

    <fieldset class="form-group">
        <legend>Article Status</legend>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <label>Article Status</label>
                <div class="radio">
                    <label class="c-input c-radio">
                        <input name="state" type="radio" value="draft"
                               checked="checked">
                        <span class="c-indicator"></span>
                        draft
                    </label>
                </div>

                <div class="radio">
                    <label class="c-input c-radio">
                        <input name="state" type="radio" value="published">
                        <span class="c-indicator"></span>
                        published
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
							{{> form/image label="Image" id="image"}}
            </div>
        </div>
    </fieldset>

    <div class="row">
        <div class="col-md-12">
            <fieldset class="form-group">
                <legend>Article content</legend>

                <div class="form-group">
                    <label for="title">Title</label>
                    <h1 class="wysiwyg-plain" id="title">{{{article.title}}}</h1>
                </div>

                <div class="form-group">
                    <label for="teaser">Teaser</label>
                    <p class="wysiwyg-plain lead"
                       id="teaser">{{{article.teaser}}}</p>
                </div>

                <div class="form-group">
                    <label for="text">Text</label>
                    <div id="text" class="wysiwyg">{{{article.text}}}</div>
                </div>
            </fieldset>
        </div>
    </div>
    <nav class="navbar navbar-fixed-bottom navbar-light bg-faded">
        <div class="nav navbar-nav container">
            <button type="submit"
                    class="btn btn-primary btn-md pull-xs-right"
                    role="button">Send</button>
				</div>
    </nav>
</form>
