<section id="content">

	<header>
		<h2>{{{__ "Please fill the form!"}}}</h2>
	</header>

	{{>flash}}

	<div class="jumbotron">
		<div class="row">
			<div class="col-xs-12 col-lg-6">
				<form method="post"
							action="/user/login">
					<div class="form-group input-svg">
						<input placeholder="{{{__ "User name"}}}"
									 class="form-control"
									 id="username"
									 tabindex="1"
									 name="username"
									 style="background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=');"
									 autocomplete="off">
					</div>

					<div class="form-group">
						<input placeholder="{{{__ "Password"}}}"
									 class="form-control"
									 tabindex="2"
									 type="password"
									 name="password"
									 value=""
									 style="cursor: auto; background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=');"
									 autocomplete="off">
					</div>

					<div class="form-group">
						<button id="login-submit"
										type="submit"
										tabindex="3"
										class="btn btn-primary btn-lg btn-block">
							{{{__ "OK"}}}
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
