<div class="container">
    <div class="page-accordion">
        <section class="profile" id="nav-login-1">
            <header class="row">
                <div class="col-md-12">
                    <h2 class="">
                        Persönliche Informationen
                    </h2>
                </div>
            </header>

					{{>flash}}

            <section class="row">
                <h3 class="col-xs-12 clearfix">
                    Ihre Daten
                </h3>
                <div class="col-xs-12 col-md-3">
                    <div class="clearfix">
                        <span>{{profile.gender}}&nbsp;{{profile.firstname}}&nbsp;{{profile.lastname}}</span>
                    </div>
                </div>
            </section>

        </section>
    </div>
</div>
