@charset "utf-8";
////
/// Backend styling
///
/// @author André Lademann <info@andrelademann.de>
////
/// BulmaCSS


/*! bulma.io v0.6.0 | MIT License | github.com/jgthms/bulma */
@import "../../node_modules/bulma/sass/utilities/_all";
@import "../../node_modules/bulma/sass/base/_all";
@import "../../node_modules/bulma/sass/elements/_all";
@import "../../node_modules/bulma/sass/components/_all";
@import "../../node_modules/bulma/sass/grid/_all";
@import "../../node_modules/bulma/sass/layout/_all";


// Custom
@import "variables";

.is-shadow-top {
	box-shadow: inset 0 15px 15px -20px $black;
}
/// BulmaCSS
.hero.is-dark {
	.checkbox:hover {
		color: $gray-300;
	}

	.label {
		color: $white;
	}
}

.wysiwyg-plain {
	outline: 1px dashed #ddd;
}

.is-fixed-bottom {
	position: fixed !important;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 70000;
}

.navbar-admin {
	background: #fff;
	outline: 6px solid rgba(50, 50, 50, .1);
}

.imageupload {
	.panel-title {
		padding-top: 8px;
	}

	.alert {
		margin-bottom: 10px;
	}

	.btn-file {
		position: relative;
		overflow: hidden;

		[type="file"] {
			position: absolute;
			top: 0;
			right: 0;
			display: block;
			min-width: 100%;
			min-height: 100%;
			font-size: 100px;
			text-align: right;
			cursor: inherit;
			opacity: 0;
		}
	}

	.file-tab {
		> button {
			display: none;
		}

		.thumbnail {
			margin-bottom: 10px;
		}
	}

	.url-tab {
		display: none;

		.thumbnail {
			margin: 10px 0;
		}
	}
}

.imageupload-disabled {
	pointer-events: none;
	cursor: not-allowed;
	opacity: .6;
}

.upload-drop-zone {
	height: 200px;
	margin-bottom: 20px;
	border-width: 3px;
}

.upload-drop-zone {
	line-height: 200px;
	color: #ccc;
	text-align: center;
	border: dashed #ccc;
}

.upload-drop-zone.drop {
	color: #222;
	border-color: #222;
}

footer {
	padding-bottom: 4em;
}
