////
/// Frontend styling
///
/// @author André Lademann <info@andrelademann.de>
/// @link   https://www.smashingmagazine.com/2015/01/designing-for-print-with-css/
////

@import "variables";

$white: #fff;
$black: #000;
$gray: #999;
$link: #369;

@page {
	size: A4;
	margin: 70pt 60pt 70pt;

	:blank {
		@top-center {
			content: "This page is intentionally left blank."
		}
	}

	:left {
		@bottom-left {
			margin: 10pt 0 30pt 0;
			border-top: .25pt solid $gray;
			content: counter(page) " / " counter(pages);
			font-size: 9pt;
			color: $black;
		}
	}
}

@media print {
	// @import "../../node_modules/bootstrap/scss/print";
	@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

	body {
		background: $white;
		width: auto !important;
		border: 0;
		padding: 2em 3.5em 4em 5em;
	}

	main {
		p {
			text-align: justify;
		}
	}

	abbr[title]:after,
	acronym[title]:after {
		content: " (" attr(title) ")";
	}

	a[href]:after {
		content: " <" attr(href) ">";
		color: $link;
		background-color: inherit;
		font-style: italic;
		font-size: 12pt;
		text-decoration: underline;
	}

	a {
		color: $black;
		text-decoration: underline;
		font-style: italic;
	}

	blockquote {
		border: none;
		border-left: 10px solid $gray;
		font-size: 1.8em;
		font-style: italic;
		margin: 1.5em 10px;
		padding: 0.5em 10px;
		quotes: "\201C""\201D""\2018""\2019";

		&:before {
			color: $gray;
			content: open-quote;
			font-size: 3em;
			line-height: 0.1em;
			margin-right: 0.25em;
			vertical-align: -0.4em;
		}
	}

	*[cite]:before {
		content: close-quote " (Quelle: " attr(cite) ")";
		color: $link;
		font-style: italic;
	}

	h1,
	h2,
	h3,
	h4,
	h5 {
		page-break-after: avoid;
	}

	h1 {
		padding: 4pt 0 8pt;
		font-size: 48pt;
	}

	p,
	address,
	li,
	dt,
	dd {
		font-size: 12pt;
	}

	pre {
		border: 0;
		padding: 0;
	}

	time {
		font-style: italic;
	}

	ul {
		list-style: square;
		margin-left: 18pt;
	}

	ol {
		list-style: decimal;
		margin-left: 18pt;
	}

	li {
		line-height: 1.6em;
	}

	// Bootstrap
	.container {
		font-family: 'Crimson Text', serif;
		color: $black;
		border: 0;
		margin: 0;
		padding: 0;
	}

	.media-author {
		padding: 0;
		margin: 0;
		border-top: none !important;
		background-color: $white;
	}

	.media-body {
		color: $gray;
		border: none;
		margin: 0;
		padding: 0;
		border-top: $black 2px solid;
		background: $white;
		font-size: 8pt;
	}

}
