////
/// Frontend styling
///
/// @author André Lademann <info@andrelademann.de>
////

html {
	overflow-y: scroll;
}

body {
	font-family: 'Open Sans Condensed', sans-serif;
}

// Logical
header {
	margin-top: 20px;
}

main {
	margin-top: 20px;
}

footer {
	padding-top: 5px;
	margin-top: 30px;
	color: #bbb;
	border-top: 1px #ddd solid;
}

// Content
p {
	font-weight: 300;
}

h1, h2, h3, b, strong {
	font-weight: 300;
}

i, em {
	@extend p;
	font-style: italic;
}

pre {
	font-size: 1em;
}

// Classes
.media-author {
	padding: 20px 30px;
	background-color: #f0f8ff;
	border-top: 1px #eee solid;
}

@mixin text-overflow() {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.text-overflow {
	@include text-overflow;
}

/// Disqus
/// @group vendor
.disqus {
	margin-top: 2em;
}
