<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/min/basic.min.css"
			integrity="sha256-RvDmZ4ZtPtrWmZdibCa80jCE32m21xuR5SuW6zfJaW4=" crossorigin="anonymous"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/min/dropzone.min.css"
			integrity="sha256-e47xOkXs1JXFbjjpoRr1/LhVcqSzRmGmPqsrUQeVs+g=" crossorigin="anonymous"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/min/dropzone.min.js"
				integrity="sha256-0dCrNKhVyiX4bBpScyU5PT/iZpxzlxjn2oyaR7GQutE=" crossorigin="anonymous"></script>

<style>
	.dropzone {
		border: 3px dashed rgba(0, 0, 0, 0.1);
		transition: all .4s;
	}

	.dropzone:hover {
		border: 3px dashed rgba(0, 0, 0, 0.05);
		background: rgba(40, 40, 40, .05);
	}
</style>

<script>
	Dropzone.options.uploadWidget = {
		acceptedFiles:      'image/*',
		dictDefaultMessage: '{{ __ "Drag an image here to upload, or click to select one." }}',
		maxFilesize:        5, // MB
		maxFiles:           1,
		parallelUploads:    2,
		paramName:          'file',
		init:               function () {
			// Setup the observer for the button.
			$('#dropzone-trash').on('click', $.proxy(function () {
				this.removeAllFiles();
				$('#{{file}}').val('');
			}, this));
		},
		sending:            function (file, xhr, formData) {
			console.log(file, xhr, formData);
			$('#submit, #dropzone-trash').attr('disabled','disabled').addClass('is-loading');
			formData.append('name', $('#{{name}}').text());
		},
		success:            function (file, resp) {
			$('#{{file}}').val(resp.filename);
			$('#submit, #dropzone-trash').removeAttr('disabled').removeClass('is-loading');
		},
		error:              function () {
			$('#submit, #dropzone-trash').removeAttr('disabled').removeClass('is-loading');
		}
	}
	;
</script>
<form id="upload-widget" method="post" action="/upload" class="dropzone">
	<div class="fallback">
		<input name="file" type="file" id="file">
	</div>
</form>
