<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/dropzone.css"
			integrity="sha256-0Z6mOrdLEtgqvj7tidYQnCYWG3G2GAIpatAWKhDx+VM=" crossorigin="anonymous"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/dropzone.js"
				integrity="sha256-vnXjg9TpLhXuqU0OcVO7x+DpR/H1pCeVLLSeQ/I/SUs=" crossorigin="anonymous"></script>

<style>
	.dropzone {
		border: 3px dashed rgba(0, 0, 0, 0.1);
		transition: all .4s;
	}

	.dropzone:hover {
		border: 3px dashed rgba(0, 0, 0, 0.05);
		background: rgba(40, 40, 40, .05);
	}
</style>


<script>
	Dropzone.options.uploadWidget = {
		acceptedFiles:      'image/*',
		dictDefaultMessage: 'Drag an image here to upload, or click to select one',
		maxFilesize:        2, // MB
		maxFiles:           1,
		parallelUploads:    2,
		paramName:          'file',
		init:               function () {
			this.on('success', function (file, resp) {
				$('#{{file}}').val(resp.filename);
			});
		},
		sending:            function (file, xhr, formData) {
			$('#cancel').addClass('disabled');
			$('#submit').addClass('disabled');
			formData.append('name', $('#{{name}}').text());
		},
		success:            function () {
			$('#cancel').removeClass('disabled');
			$('#submit').removeClass('disabled');
			$('#fileOriginalPreview').slideUp();

		},
		error:              function () {
			$('#cancel').removeClass('disabled');
			$('#submit').removeClass('disabled');
		}
	}
	;
</script>
<form id="upload-widget" method="post" action="/upload" class="dropzone">
	<div class="fallback">
		<input name="file" type="file">
	</div>
</form>
