<div id="hcard-André-Lademann" class="vcard row">
    <div class="col-xs-2"><img
            src="http://www.gravatar.com/avatar/fb4aa793fc841faebe60042772c865ee?s=300&d=identicon"
            alt="photo of André Lademann" class="img-fluid" />
    </div>
    <div class="col-xs-10">
        <h1>{{__ "About me"}}</h1>
        <h2>{{__ "Get in contact"}}</h2>
        <a class="url fn" href="http://andrelademann.de">André Lademann</a> (<em
            class="nickname">vergissberlin</em>)

        <div class="org">Netresearch GmbH & Co.KG</div>
        <a class="email"
           href="mailto:info@andrelademann.de">info@andrelademann.de</a>
        <div class="adr">
            <div class="street-address">Hardenbergstraße 48</div>
            <span class="locality">Leipzig</span>,
            <span class="region">Saxony</span>,
            <span class="postal-code">04275</span>
            <span class="country-name">Germany</span>

        </div>
        <div class="bday">1980-08-27T11:11:00</div>
        <div class="category hidden-xs">development</div>
        <h2>{{__ "Links"}}</h2>
        <ul class="list-unstyled">
            <li>
                <a class="tel" rel="me" href="tel:00491707353067">+491707353067</a>,
            </li>
            <li>
                <a class="url" rel="me" href="xmpp:vergissberlin">Jabber</a>,
            </li>
            <li>
                <a class="url" rel="me" href="skype:vergissberlin">Skype</a>,
            </li>
            <li>
                <a class="url" rel="me" href="https://github.com/vergissberlin">GitHub</a>
            </li>
        </ul>
        <h3>{{__ "Projects"}}</h3>
        <ul class="list-unstyled">
            <li>
                <a class="url" rel="me"
                   href="https://github.com/vergissberlin/andrelademann-de">andrelademann-de
                    <span class="text-muted">ExpressJS Website</span> </a>
            </li>
            <li>
                <a class="url" rel="me" href="https://github.com/vergissberlin/9xr">GitHub</a>
            </li>
            <li>
                <a class="url" rel="me" href="https://github.com/vergissberlin">GitHub</a>
            </li>
            <li>
                <a class="url" rel="me" href="https://github.com/vergissberlin">GitHub</a>
            </li>
        </ul>
    </div>
</div>
