{{> header}}

{{> wysiwyg selector="section > *"}}

<section>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium autem expedita maiores minima
        neque
        odit omnis optio possimus quam quia, repellendus reprehenderit saepe sed suscipit, ullam, ut veniam voluptatem?
        Atque commodi consectetur dolore eaque et eveniet, ex excepturi exercitationem facilis fugit inventore minus nam
        quam
        quidem quos similique tempora tempore temporibus. Debitis dolores excepturi, natus praesentium repellendus sed
        temporibus.</p>
    <p>A accusantium architecto aut, consectetur deleniti eligendi itaque iure laudantium nemo officia
        quo sint? Aliquid architecto, commodi culpa dignissimos eaque eligendi hic maxime nam nobis officiis,
        reprehenderit
        temporibus ut, voluptatibus.
        Accusamus alias aliquam aliquid architecto commodi, corporis, delectus earum eos
        inventore laborum molestias nostrum numquam quae quas quos sed sequi sit sunt velit voluptatibus. Ad amet et
        nostrum
        quibusdam sit!</p>
    <blockquote class="blockquote">
        <p class="m-b-0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias, deleniti deserunt distinctio,
            eligendi est et fuga fugiat harum impedit, inventore magnam quasi quia quibusdam quisquam sit totam
            veritatis voluptates!</span><span>A qui tempora veniam. Accusamus autem dignissimos ea earum enim fugit laudantium molestiae, mollitia neque, nesciunt obcaecati officia perferendis quasi sequi voluptatibus! Atque necessitatibus officiis quaerat quisquam quos saepe vitae?
        </p>
        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
</section>
<iframe id="form_target" name="form_target" style="display:none"></iframe>
<form id="my_form" action="/upload/" target="form_target" method="post" enctype="multipart/form-data"
      style="width:0px;height:0;overflow:hidden">
    <input name="image" type="file" onchange="$('#my_form').submit();this.value='';">
</form>
