<h2>{{title}}</h2>
<section>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium autem expedita maiores minima
        neque
        odit omnis optio possimus quam quia, repellendus reprehenderit saepe sed suscipit, ullam, ut veniam voluptatem?
        Atque commodi consectetur dolore eaque et eveniet, ex excepturi exercitationem facilis fugit inventore minus nam
        quam
        quidem quos similique tempora tempore temporibus. Debitis dolores excepturi, natus praesentium repellendus sed
        temporibus.</p>
    <p>A accusantium architecto aut, consectetur deleniti eligendi itaque iure laudantium nemo officia
        quo sint? Aliquid architecto, commodi culpa dignissimos eaque eligendi hic maxime nam nobis officiis,
        reprehenderit
        temporibus ut, voluptatibus.
        Accusamus alias aliquam aliquid architecto commodi, corporis, delectus earum eos
        inventore laborum molestias nostrum numquam quae quas quos sed sequi sit sunt velit voluptatibus. Ad amet et
        nostrum
        quibusdam sit!</p>
</section>
<iframe id="form_target" name="form_target" style="display:none"></iframe>
<form id="my_form" action="/upload/" target="form_target" method="post" enctype="multipart/form-data"
      style="width:0px;height:0;overflow:hidden">
    <input name="image" type="file" onchange="$('#my_form').submit();this.value='';">
</form>
<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/prism.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/themes/prism.min.css">
<script>
    tinymce.init({
        selector: 'section',
        inline: true,
        plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table contextmenu paste image imagetools codesample'
        ],
        toolbar: 'styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist  blockquote | code  codesample | link image table',
        menubar: false,
        file_picker_types: 'file image media',
        file_browser_callback: function (field_name, url, type, win) {
            if (type == 'image') $('#my_form input').click();
        }
    });
</script>
