<div class="message is-danger" role="alert">
	<div class="message-header">
		<p>{{{__ "Error"}}}</p>
		<button class="delete" aria-label="delete" onclick="this.parentNode.parentNode.className += ' is-hidden'"></button>
	</div>
	<div class="message-body">
		{{error.status}} {{message}}
	</div>
</div>
