<h2>{{title}}</h2>

{{> welcome tagName="p"}}

<aside>
	{{>picture src="feed_ship.jpg" class="img-fluid img-rounded" alt="Risiko" title="Over the sea"}}
</aside>

<hr>

<aside>
	{{> article-teaser}}
</aside>
