<section>

	<aside class="hidden-print">
		{{>picture src="feed_ship.jpg" class="img-fluid rounded" alt="Risiko" title="Over the sea" local=true}}
	</aside>

	<hr>

	<aside>
		{{> article-teaser}}
	</aside>

</section>
