<a href="//plus.google.com/u/0/102068444349380253348?prsrc=3"
	 rel="publisher" target="_top" style="text-decoration:none;">
	<img src="//ssl.gstatic.com/images/icons/gplus-32.png" alt="Google+" style="border:0;width:32px;height:32px;"/>
</a>
