<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{{title }}</title>
    <link rel="stylesheet" href="/css/style.css">
  {{#if ENV_DEVELOPMENT}}
      <script src="//localhost:35729/livereload.js"></script>
  {{/if}}
</head>
<body>

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/article">Article</a></li>
    </ul>
</nav>

<main>
  {{{body}}}
</main>

</body>
</html>
